<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>
</head>
<body>
<h1>{{ title }} {{ author.get_fullname }}</h1>

<ul>
    {% for article in articles %}
    <li>
        {% if article.published %}
        <a href="{% url 'get_article' article.id %}">{{ article.title }}</a>
        {% else %}
        {{ article.title }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
</body>
</html>