{% extends 'about_me_app/base.html' %}

{% block content %}
<h1 class="title">{{ content }}</h1>
<img class="about_photo" width="450" src="../img/student.jpg" alt="photo"/>
<p class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae inventore
    dolorem, cupiditate dolor quis voluptatem explicabo accusamus perspiciatis
    perferendis officia possimus, quisquam consequatur ipsum, placeat labore
    quidem alias aliquid officiis! Inventore aspernatur fugit praesentium
    incidunt dolorum repudiandae voluptatibus error eos nam quos adipisci hic
    necessitatibus at laborum eaque, aliquid provident! Reiciendis dolores
    inventore nobis rerum, eveniet delectus veritatis vel qui! Ad, nesciunt
    assumenda! Quos perferendis a eius veritatis animi accusantium totam, ea
    maiores non ratione, expedita debitis illo cupiditate similique corrupti
    molestiae dolor, porro fugiat ducimus quis blanditiis numquam voluptas ad
    rerum. Quidem, ab! Quasi nemo at eligendi dolorum adipisci doloribus
    accusantium iure exercitationem praesentium asperiores ipsam dolor neque
    optio, incidunt quidem dolores expedita minus molestiae sapiente, enim
    nisi animi provident. Optio eaque ullam enim molestiae illo veritatis
    accusamus laborum. Reprehenderit quos quis aliquam odit expedita animi
    incidunt ab qui! Temporibus cumque velit quam omnis! Nihil quibusdam error
    voluptates minus.
</p>
{% endblock %}
